    /** Custom styles here! **/

    body {
        background: #efefef;
        .container {
            background: #fff;
            border: 1px dashed #cecece;
            border-radius: 10px;
            margin: 0 auto 30px;
            padding: 40px;
        }
        .footer {
            background: #525252;
            p {
                color: #9c9c9c;
                strong {
                    color: #fff;
                }
                a {
                    color: #6c87ff;
                }
            }
        }
    }
